* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

/* Layout */
.container {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    padding: 40px;
}

aside {
    width: 200px;
    background-color: black;
    color: white;
    padding: 20px;
}

/* Sekce */
section {
    margin-bottom: 60px;
}

h2 {
    margin-bottom: 20px;
}

/* Produkty */
.product-row {
    display: flex;
    gap: 300px;
    margin-top: 50px;
    margin-left: 75px ;
}

.product-row img {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    transition: 1s;
}

/* Footer – konec stránky */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-row img:hover{
    transform: scale(1.4);
}

.logo{
    font-size: 4dvb;
    margin-left: 400px;
}
