* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

/* Layout */
.container {
    display: flex;
    flex: 1;
}

main {
    background-color: #D3D3D3;
    flex: 1;
    padding: 40px;
}

aside {
    width: 200px;
    background-color: gray;
    color: white;
    padding: 20px;
}

/* Sekce */
section {
    margin-bottom: 60px;
}

h2 {
    margin-bottom: 20px;
}

/* Produkty */
.product-row {
    display: flex;
    gap: 300px;
    margin-top: 50px;
    margin-left: 75px ;
}

.product-row img {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    transition: 1s;
}

/* Footer – konec stránky */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.product-row img:hover{
    transform: scale(1.4);
    border-radius: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

}

.logo{
    font-size: 4dvb;
    margin-left: 400px;
}

.shop{
    max-width: 50px;
    max-height: 50px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}

.album{
    max-width: 80%;
    max-height: 80%;
    margin-left: 70px;
}

.product {
  display: flex;
  gap: 20px;           /* space between image and text */
}

.product-image {
  width: 900px;
  height: auto;
  margin-left: 50px;
  margin-top: 50px;
  align-items: center;
}

.product-info {
  flex: 1; /* text takes remaining space */
  margin-top: 30px;
}

.price {
  font-weight: bold;
  color: #e63946;
  margin-left: 275px;
  font-size: 5ch;
}

.name{
    font-family: 'Franklin Gothic Medium';
    font-size: 10ch;
    margin-left: 200px;
}

.info{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 3ch;
}

.cart-btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #111;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  margin-left: 300px;
  margin-top: 20px;
}

.cart-btn:hover {
  background-color: #333;
}

#quantity {
  width: 70px;
  padding: 6px;
  font-size: 16px;
}

.quantity{
    margin-left: 270px;
    margin-top: 20px;
}

.namecotc{
    font-family: 'Franklin Gothic Medium';
    font-size: 8ch;
    margin-left: 30px;
}
